.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  padding-bottom: 10px;
}
.app__body {
  display: flex;
  flex-grow: 1;
}

.app__right {
  flex: 0.7;
  margin: 0 20px;
}

.app_rightInfoBox {
  display: flex;
  justify-content: space-between;
}
.app__left {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.app__left .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}
.app_rightInfoBox {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 990px) {
  .app {
    height: 100%;

    padding-bottom: 30px;
  }
  .app__body {
    flex-direction: column;
  }
  .app__left {
    margin: 0 20px;
  }
}
